bootstrap.servers=CHANGEME_BOOTSTRAP_SERVER
ssl.endpoint.identification.algorithm=https
security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="CHANGEME_API_KEY" password="CHANGEME_API_SECRET";

schema.registry.url=CHANGEME_SR_URL
value.subject.name.strategy=io.confluent.kafka.serializers.subject.TopicNameStrategy
basic.auth.credentials.source=USER_INFO
basic.auth.user.info="CHANGEME_SR_API_KEY"